@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
        url('../fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
        url('../fonts/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
        url('../fonts/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
        url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
        url('../fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamthin';
    src: url('../fonts/gotham-thin-webfont.woff2') format('woff2'),
        url('../fonts/gotham-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General Css */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    background-color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-family: 'gothambook';
    font-weight: 400;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'gothambook';
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
    margin: 0;
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
}

::selection {
    color: #b89c64;
    background-color: #f5f6f8;
}

a {
    transition: ease-in-out 0.3s;
    color: #000;
}

a:hover {
    text-decoration: none;
}

button:focus, a:focus {
    outline: none;
}

.form-control:focus, .btn.focus, .btn:focus {
    box-shadow: none
}

html {
    scroll-behavior: smooth;
}



.main-title {
    font-size: 34px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'gothambook';
    font-weight: 400;
    padding-bottom: 40px;
}

.title-width-one, .title-content-width-one {
    width: 550px;
}

.title-content-width-two {
    width: 774px;
}

.font-medium-weight {
    font-weight: 500;
}

.pink {
    color: #b89c64;
}

.white {
    color: #fff;
}

.btn {
    height: 48px;
    padding: 0;
    border-radius: 0;
}

.btn a {
    height: 100%;
    display: inline-block;
    font-size: 14px;
    font-family: 'gothambook';
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 28px;
    line-height: 48px;
    font-weight: 400;
}

.btn a img {
    margin-right: 16px;
}

.btn.btn-gradient a {
    color: #b99d64;
    background-color: rgb(255, 255, 255);
    width: 155%;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.5s;
    font-family: 'gothambold';
    -webkit-transition: all 0.5s;
}

.btn.btn-gradient a:hover {
    color: #ffff;
    background-color: #b89c64;
}

.btn.btn-white a {
    background: #fff;
    color: #666666;
}

.btn-gradient img {
    filter: brightness(0) invert(1);
}

.unmatched-content .btn, .work-content-main .btn {
    margin: 60px auto 0;
    display: flex;
    justify-content: center;
}

.domain-content .title-content-width-one, .unmatched-content .title-content-width-one, .technology-content .title-content-width-one, .technology-content .btn, .standon-section .title-content-width-two, .professional-development-section .title-content-width-two, .cloud-title-content, .enterprise-section .title-content-width-two {
    margin-top: 30px;
}

header {
    position: relative;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    padding: 35px 0;
    background: url('../images/bg.png') no-repeat top center;
    background-size: 100%;
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    top: -20px;
}

.header-content {
    display: flex;
    align-items: center;
    position: relative;
}


.header-tel a {
    padding: 0 10px;
    position: relative;
}

.header-tel a::after {
    content: '';
    height: 40px;
    width: 2px;
    border-left: 1px solid #fff;
    color: #ffff;
    position: absolute;
    top: -10px;
    margin: 0px 5px;
}

.header-tel a:nth-child(2):after {
    content: '';
    border-left: 0px;
}

.header-tel a:nth-child(3):after {
    content: '';
    border-left: 0px;
}

/* 
#mySidenav .header-tel a:nth-child(1)::after {
    padding: 0px 0px;
    border:none;
} */
.header-tel img {
    filter: brightness(0) invert(1);
    padding: 0px 10px;
}

.header-tel a:nth-child(1) {
    padding: 0px 0px;
}

.header-tel a img {
    filter: brightness(0) invert(1);
}

.header-right {
    margin-left: 0px;
    margin: 20px 0px;
}

.main-menu nav:not(.mean-nav)>ul {
    display: flex;
}

.main-menu nav:not(.mean-nav) ul li {
    position: relative;
}

.main-menu nav:not(.mean-nav)>ul>li {
    padding: 10px 0;
}

.main-menu nav:not(.mean-nav)>ul>li>a {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-right: 5px;
    margin-right: 31px;
    top: 35px;
    position: relative;
    transition: all .3s;
    -webkit-transition: all .3s;
}


.main-menu nav:not(.mean-nav)>ul>li>a:hover {
    color: #b89c64;
}

.main-menu nav:not(.mean-nav)>ul>li>a::after {
    content: '';
    color: #ffff;
    position: absolute;
    height: 1px;
    bottom: -8px;
    left: 0px;
    width: 2px;
    border-bottom: 2px solid #fff;
    opacity: 0;
    transition: all 0.3s;

}

.main-menu nav:not(.mean-nav)>ul>li>a:hover::after {
    content: '';
    color: #ffff;
    position: absolute;
    height: 2px;
    bottom: -8px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid #fff;
    opacity: 1;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #b89c64;
}

.main-menu nav:not(.mean-nav)>ul>li.menu-dropdown>a::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    border-bottom: 2px solid #fff;
    width: 0%;
    background: url('../images/down-arrow.svg') center center no-repeat;
}

.main-menu nav:not(.mean-nav)>ul>li.menu-dropdown>a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    border-bottom: 2px solid #fff;
    width: 100%;
    background: url('../images/down-arrow.svg') center center no-repeat;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}



.main-menu li {
    list-style: outside none none;
    margin: 0;
    padding: 0px;
    text-transform: uppercase;
    top: 11px;
}


.main-menu nav:not(.mean-nav)>ul>li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 80px;
    background: #fff;
    width: 240px;
    border-radius: 3px;
    padding-bottom: 40px;
    transition: ease-in-out 0.4s;
}

.main-menu nav:not(.mean-nav)>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 85px;
}

.main-menu nav:not(.mean-nav)>ul>li ul li a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding: 6px 16px;
    border-bottom: 1px solid #f1f1f1;
    color: #333;
}

.main-menu nav:not(.mean-nav)>ul>li ul li a:hover {
    color: #b89c64;
}

.banner-section {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider-image:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    z-index: 9;
    background: url(../images/banner-shadow.png) left bottom repeat-x;
    min-height: 60%;
    width: 100%;
}

.banner-section .owl-carousel .owl-stage-outer {
    height: 100vh;
}

.banner-section .owl-stage, .banner-section .owl-carousel .owl-item, .banner-section .item {
    height: 100%;
}

.slider-image {
    position: relative;
    height: 100%;

}

.banner-section .owl-carousel .owl-item .slider-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.slider-content {
    position: absolute;
    top: 78%;
    text-align: center;
    left: 30%;
    transform: translate(-25%, -45%);
    z-index: 99;
}

.slider-content h1 {
    width: 500px;
    margin: 0 auto;
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    font-family: 'gothambook';
    line-height: 60px;
    opacity: 0;
    width: 100%;
    transition: ease-in-out 1s;
    transform: translateY(-30px);
}

.active .slider-content h1 {
    opacity: 1;
    transform: translateY(0);
}

.slider-content p {
    line-height: 32px;
    color: #fff;
    opacity: 0;
    width: 600px;
    margin-top: 20px;
    transform: translateY(30px);
    transition: ease-in-out 1s;
}

.active .slider-content p {
    opacity: 1;
    transform: translateY(0);
}

.slider-content .btn {
    margin-top: 80px;
    opacity: 0;
    transition: ease-in-out 1.5s;
}

.active .slider-content .btn {
    opacity: 1;
}

.banner-section .owl-nav button {
    position: absolute;
    left: -8px;
    top: 50%;
    transform: rotate(-90deg);
    text-transform: uppercase;
}

.banner-section .owl-nav button.owl-next {
    left: auto;
    right: 0;
}

.slider-arrow {
    position: relative;
    font-size: 13px;
    color: #fff;
    letter-spacing: 4px;
    top: 30px;
    transition: ease-in-out 0.6s;
}

.slider-arrow.arrow-right {
    top: auto;
    bottom: 45px;
}

.slider-arrow::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background: #fff;
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0) rotate(90deg);
    transition: ease-in-out 0.6s;
}

.slider-arrow.arrow-right::before {
    top: auto;
    bottom: -25px;
}

.slider-arrow:hover::before {
    width: 20px;
}

/* flor plans start*/
.floor-cont :nth-child(2).fc-50 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 42px;
    left: 47%;
    transform: translateX(-60%);
}

.floor-cont button.btn.btn-info.btn-lg {
    background: #b99d64;
    text-transform: uppercase;
    font-size: 16px;
    width: 230px;
    height: 50px;
    outline: none;
    border: none;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.floor-cont button.btn.btn-info.btn-lg:hover {
    background-color: #ffff;
    color: #b89c64;
    border: 1px solid #b89c64;
}

/* bespoke */
.bespoke-section-specification {
    padding-top: 50px;
    background: #3d3f41;
}

.bespoke-section {
    padding: 110px 0;
}

.tab-cont {
    padding: 60px 0px 110px;
    position: relative;
    width: 100%;
    background: #fff;
    margin-top: 0px;
}

.bespoke-video {
    display: flex;
    position: relative;
}

.bespoke-video-1 {
    display: flex;
    position: relative;
}

.video-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.bespoke-content p, .bespoke-content .btn {

    color: #ffff;
}

.bespoke-content ul li {
    line-height: 1.4em;
}

.all-matireal {
    padding-top: 30px;
    padding-bottom: 20px;
}

.all-matireal {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

.all-matireal ul li::marker {
    list-style: circle;
}

.all-matireal li {
    padding: 10px 55px 10px;
    color: #ffff;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    padding-left: 10px;
    list-style-image: url('../images/list.png');
    height: 40px;
    font-size: 16px;
}


.second-box {
    padding-top: 180px;
}

.second-box {
    position: relative;
}

.second-box::before {
    content: '';
    color: #b89c64;
    position: absolute;
    border-bottom: 3px solid #b89c64;
    width: 95%;
    top: 140px;
}

.second-box h6 {
    color: #ffff;
    font-family: 'gothambold';
    font-weight: 500;
    font-size: 19px;
    padding-bottom: 10px;
}

.tab-cont h3 {
    color: #fff;
    font-size: 48px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.tab-cont:before {
    background: #3d3f41;
    position: absolute;
    content: '';
    height: 140px;
    width: 100%;
    left: 0;
    top: 0;
}

.tab-cont .panel-heading {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 42px;
    left: 0px;
}

.second-box.top-border::before {
    content: '';
    color: #b89c64;
    position: absolute;
    border-bottom: 3px solid #b89c64;
    width: 95%;
    top: 3px;
}

.second-box.top-border {
    padding-top: 25px;
    margin-top: 62px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.tab-cont .item {
    padding-top: 80px;
}

.panel-heading ul li {
    margin: 0 0.8em;
}

.panel-heading ul li a.active {
    color: #b89c64;
    text-decoration: underline;
}

.panel-heading ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.panel-heading ul li a:hover {
    color: #b89c64;
    text-decoration: underline;
}

.panel-heading ul li::after {
    content: '/';
    color: #fff;
    position: absolute;
    margin: 0 10px;
}

.panel-heading ul li:nth-last-child(1):after {
    content: '';
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}


.bespoke-section-video {
    background: url('../images/bg.png') left top no-repeat;
    padding: 90px 0;
    background-size: 100%;
}

.bespoke-section-video .bespoke-content {
    padding-top: 110px;
    padding-bottom: 110px;
}

.about-footer {
    background: url(../images/about-section-img.png) center top no-repeat fixed;
    width: 100%;
    display: block;
    padding: 110px 0;
    background-size: 100%;
    text-align: center;
}

.about-footer h3 {
    font-size: 69px;
    color: #ffff;
    position: relative;
}

.about-footer .readmore {
    padding-top: 150px;
}

.readmore a, .submit-btn {
    color: #b89c64;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: none;
    width: 250px;
    font-family: 'gothambold';
}

.readmore a:hover, .submit-btn:hover {
    background-color: #b89c64;
    color: #ffffff;
}

.contact-btn a {
    color: #fff;
    background-color: #b89c64;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: solid 1px #b89c64;
    text-transform: uppercase;
    width: 250px;
    font-family: 'gothambold';
}

.contact-btn a:hover {
    background-color: #fff;
    color: #b89c64;
    border: solid 1px #b89c64;
}

.readmore.btn-white::after {
    content: '';
    position: absolute;
    width: 27%;
    color: #b89c64;
    left: 50%;
    border: 2px solid #b89c64;
    transform: translateX(-50%);
    top: 53%;
}

.getin-footer {
    background: url(../images/white-line-bg.png) center top repeat fixed;
    width: 100%;
    display: block;
    padding: 110px 0;
    text-align: center;
    position: relative;
}

.getin-footer h3 {
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    color: #b99d64;
}

.getin-footer h3:after {
    content: '';
    background: #b99d64;
    height: 2px;
    width: 32%;
    position: absolute;
    left: 34%;
    bottom: -20px;
}

.logos-footer {
    background: #b99d64;
    width: 100%;
    display: block;
    padding: 100px 0;
    text-align: left;
}

.logos-footer p {
    padding-right: 60px;
    padding-bottom: 40px;
}

.logos-footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.copyright span {
    padding: 10px 40px 0 0px;
    display: inline-block;
}

.copyright span img {
    filter: brightness(0) invert(1);
}


.logos-footer h4 {
    color: #fff;
}

/* footer page css */
footer {
    width: 100%;
    display: block;
    padding: 0;
    display: block;
}

footer p, footer h6, footer a {
    color: #fff;
}

footer a, footer p {
    font-size: 14px;
}

footer h6 {
    line-height: 30px;
}

footer ul li {
    padding-left: 20px;
    padding-bottom: 6px;
}

footer a:hover, .viewmap-link a {
    color: #b89c64;
}

.copyright {
    width: 100%;
    display: block;
    text-align: center;
    padding: 60px 0 40px 0;
    background: #3d3f41;
}

.copyright ul {
    text-align: left;
    list-style: none;
    padding: 0;
    display: block;
    width: 100%;
}

.copyright ul li {
    text-align: left;
    display: inline-block;
    padding: 0 20px 0 0px;
    position: relative;
}

.copyright ul li::after {
    position: absolute;
    content: '';
    padding: 0;
    right: 7px;
    top: 11px;
    width: 1px;
    height: 10px;
    background: #fff;
}

.copyright ul li:last-child::after {
    background: transparent;
}

.copyright ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.copyright ul li a:hover {
    text-decoration: underline;
}

.copyright p {
    text-align: left;
    color: #fff;
    padding: 22px 0 0 0;
    font-size: 16px;
}

.bespoke-content2 {
    padding-right: 100px;
    height: 100%;
    position: relative;
}

.bespoke-content2 p {
    color: #fff;
    padding-bottom: 40px;
}

.getin-footer p {
    padding: 30px 0;
}

.text-left {
    text-align: left;
}

.header-tel {
    position: absolute;
    right: 0;
    top: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.nav-cont {
    padding: 20px;
    color: #fff;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.main-menu nav:not(.mean-nav)>ul>li ul li a:last-child {
    border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* inner css */
.inner-slider {
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
}

.inner-slider img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.page-cms {
    width: 100%;
    display: block;
}

.page-enquire {
    background: #3d3f41;
    padding: 90px 0;
    margin-top: -10px;
}

.page-enquire h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

.cont-form label, .page-enquire label {
    color: #fff;
}

.page-enquire form {
    margin-top: 50px;
}

.comp-logo {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.comp-logo img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.mt {
    margin-top: 30px;
}

/* floor plan page style */
.bespoke-floor-page-sec {
    padding-top: 89px;
    padding-bottom: 100px;
}

.bespoke-line {
    position: relative;
}

.bespoke-line::after {
    content: '';
    position: absolute;
    color: grey;
    height: 1px;
    width: 99%;
    border-bottom: 2px solid #ebebeb;
    bottom: 0px;
    left: 0;
    bottom: -100px;
}

.bespoke-haedding {
    padding-bottom: 60px;
}

.bespoke-haedding h3 {
    font-size: 50px;
    color: #b99d64;
    text-transform: uppercase;
    line-height: 1.3em;
}

.bespoke-haedding p {
    font-size: 15px;
    color: #000;
    line-height: 1.5em;
    font-weight: 500;
    padding-left: 5px;
}

.bespoke-photo img {
    height: auto;
    width: 15%;
    object-fit: cover;
    float: right;
}

.floor-panel-heading ul li {

    border-radius: 200px;
    margin: 0px 0.8em;
}

.floor-panel-heading ul li a.nav-link {
    background-color: #e5e5e5;
    padding: 9px 50px 9px;
    border-radius: 200px;
    /* margin: 0px 0.8em; */
}


.floor-panel-heading {

    padding-bottom: 60px;
}

.floor-panel-heading ul li:nth-child(1) {
    margin: 0 0em;
}

.floor-panel-heading ul li a:hover {
    color: #ffff;
}

.floor-panel-heading li .active:hover {
    background-color: #b89c64;
    color: #fff;
}

.floor-panel-heading ul li a.nav-link:hover {
    background-color: #b89c64;
    color: #fff;
}



.flat-title {
    padding-bottom: 60px;
    position: relative;
}

.flat-title h1 {
    font-size: 48px;
    color: #b89c64;
    font-weight: 400;
    line-height: 1.5em;
}

.flat-title h6 {
    color: #000;
    line-height: 1.2em;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
}

.gf-single-for-photos img {
    height: auto;
    width: 45%;
    object-fit: cover;
    float: right;
}

/* 
.floor-panel-heading .nav-link.active{
    color:#ffff;
    background-color: #b89c64 !important;

} */
.floor-panel-heading ul .nav-link.active {
    background-color: #b89c64 !important;
    border-radius: 200px;
}


.floor-panel-heading .nav-link {
    display: block;
    padding: 0rem 0rem;
}

/* .floor-panel-heading .nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    color: #ffff !important;
    background-color: transparent !important;
} */


.flat-1-tab table {
    width: 40%;
    margin-bottom: 1rem;
    color: #212529;
    float: left;
}

.flat-1-tab th {
    font-size: 15px;
}

.flat-1-tab td {
    font-size: 15px;
}

.flat-width caption {
    padding-top: 81px;
    font-size: 15px;
}

.pad-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pad-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.flat-width {
    width: 100%;
}

.gf-single-for-photos-last {
    position: relative;
}

.gf-single-for-photos-last img {
    height: auto;
    width: 37%;
    object-fit: cover;
    float: right;
    position: absolute;
    right: 110px;
    top: -168px;
}

.help-to-buy-sec {
    padding-bottom: 110px;
}

.local-area-parent-how .help-to-buy-sec {
    padding-top: 99px;
}

.help-to-buy-text p {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 1em;
}

.help-to-buy-text h3 {
    font-size: 55px;
    font-weight: 400;
    color: #000;
    width: 120%;
    line-height: 1.1em;
}

.help-to-buy-text h1 {
    font-size: 55px;
    color: #b89c64;
    font-family: 'gothambook';
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1em;
    padding-top: 30px;
}

.help-to-buy-text h3:nth-child(2) {
    padding-top: 50px;
}

.help-to-buy-para-text p {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    padding-top: 30px;
    line-height: 1.5em;
}

.help-to-buy-para-text span {
    font-size: 18px;
    font-weight: 700;
}

.help-to-image img {
    height: auto;
    width: 50%;
    display: block;
    margin: 0px auto;
}

.help-to-image p {
    font-weight: 400;
    font-size: 36px;
    color:#2d2d2d;
    text-align: center;
    padding-top: 20px;
    line-height: 1.3em;
}

.floor-plan-sec {
    background: url('../images/bg.png') center top repeat fixed;
    width: 100%;
    display: block;
    padding: 110px 0;
    text-align: center;
    position: relative;
}

.floor-plan-sec h3 {
    font-size: 50px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
}

.floor-plan-sec h3:after {
    content: '';
    background: #b99d64;
    height: 2px;
    width: 32%;
    position: absolute;
    left: 34%;
    bottom: -20px;
}

.floor-plan-sec p {
    padding: 30px 0;
    color: #fff;
}


.floor-plan-contact-button a {
    color: #000;
    background-color: #ffff;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    width: 250px;
    font-family: 'gothambold';
}

.floor-plan-contact-button a:hover {
    color: #ffff;
    background-color: #b89c64;
    border: 1px solid #ffffff;
}

/* floor plan page style end */

/* about-us page start */

.about-us-page-sec {
    padding-top: 50px;
    background: url('../images/bg.png') no-repeat top center;
    padding-bottom: 50px;
    position: relative;
    top: -10px;
    background-size: 100%;
}

.about-us-page-sec::after {
    content: '';
    color: #3d3f41;
    top: 0;
    background-color: red;
}

.about-us-page-sec h3 {
    font-size: 60px;
    color: #ffff;
    line-height: 1.2em;
}

.about-text p {
    color: #fff;
    padding-top: 30px;
    line-height: 1.5em;
    font-size: 15px;
    width: 90%;
}

.pluto-ab-photo {
    padding-top: 30px;
}

.pluto-ab-photo img {
    height: auto;
    width: 75%;
    object-fit: cover;
    display: block;
    margin: 0px auto;
    background: #ffff;
    padding: 40px;
    border-radius: 5px;
}

.about-us-page-sec-1 {
    padding-top: 60px;
    background-color: #232424;
    padding-bottom: 130px;
    position: relative;
    top: -10px;
}

.ab-photo {
    position: relative;
}

.ab-photo1 {
    position: relative;
}

.ab-photo1 img {
    height: auto;
    width: 51%;
    position: absolute;
    left: -37px;
}

.ab-photo img {
    height: auto;
    width: 38%;
    position: absolute;
    right: 80px;
    line-height: 1.3em;
}

.about-color-text {
    padding-top: 50px;
}

.about-color-text h6 .about-color-text p {
    padding-top: 30px;
}

.about-us-page-sec-3 .about-color-text {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 11px;
}

.about-us-page-sec-3 .offset-1 {
    margin-left: 5.3000000%;
}

.about-color-text h5 {
    color: #b89c64;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.about-color-text h6 {
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
    line-height: 1.5em;
    padding-bottom: 15px;
}

.about-color-text p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
}

.about-us-page-sec-2 {
    padding-top: 60px;
    background-color: #2d2f30;
    padding-bottom: 60px;
    position: relative;
    top: -10px;
}

.aari-logo img {
    height: auto;
    width: 83%;
    object-fit: cover;
    background: #ffff;
    padding: 17px;
    border-radius: 5px;
}

.about-us-page-sec-2 .about-color-text:nth-last-child(1) {
    padding-top: 5px;
}

.about-us-page-sec-2 .about-color-text p {
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    padding-right: 69px;
}

.about-us-page-sec-3 {
    padding-top: 80px;
    background-color: #202121;
    padding-bottom: 85px;
    position: relative;
    top: -10px;
    padding-right: 0px;
    overflow: hidden;
}

.ab-two-photo img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 90px;
}

/* 
.ab-one-photo img {
    height:auto;
    width: 100%;
    right: 0px;
} */
.ab-one-photo img {
    height: auto;
    width: 75%;
    right: -58px;
    position: absolute;
}

.about-us-page-photo-1 img {
    height: auto;
    width: 100%;
    margin: 0px 0px 25px;
    position: relative;
    left: 50%;
    transform: translateX(7%);
}
.about-us-page-photo-2 img {
    height: auto;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(7%);
}
/* .ab-two-photo img {
    height: auto;
    width: 100%;
    position: absolute;
    left: 90px;
    top: 190px;
}
.ab-two-photo-1 img {
    height: auto;
    width: 100%;
    display: block;
    margin: 0px 90px;
} */
.about-us-page-sec-4 {
    background-color: #202121;
    padding-bottom: 80px;
    position: relative;
    top: -10px;
    padding-right: 0px;
    overflow: hidden;
}

.about-home-1 {
    position: relative;
}

.about-home-2 img {
    height: auto;
    width: 87%;
    left: 0px;
    position: absolute;
}

.about-home-2 {
    position: relative;
}

.about-home-1 img {
    height: auto;
    width: 100%;
    left: 0px;
}

.about-us-page-sec-4 .about-color-text {
    padding-top: 50px;
    padding-right: 100px;
}

.main-parent {
    background: #202121;
}

/* about-us page end */


/* Specification page css */
.page-specification {
    text-align: center;
    background: url(../images/bg.png) center top repeat fixed;
    padding: 80px 0;
    margin-top: -10px;
}

.page-specification h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.page-specification h6 {
    font-size: 24px;
    color: #fff;
}

.speci-box h6 {
    color: #b99d64;
    border-bottom: solid 2px #b99d64;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'gothammedium';
    padding-bottom: 10px;
}

.speci-box ul {
    list-style: none;
}

.speci-box ul li {
    color: #fff;
    background: url(../images/icon.png) left 5px no-repeat;
    padding-left: 25px;
    padding-bottom: 20px;
}

.color-box {
    background: url(../images/sepi-rightbg.png) center top no-repeat;
    background-size: 100%;
    text-align: center;
    color: #fff;
    padding: 50px 10px 70px 10px;
}

.color-box h5 {
    font-family: 'gothambold';
    padding-bottom: 20px;
}

.color-box p {
    font-size: 15px;
}

.color-box p a {
    font-family: 'gothambold';
    color: #fff;
}

.pad-btm-50 {
    padding-bottom: 70px;
}

/* Specification css end*/

/* local-area-page start */

.local-area-back {
    padding-top: 95px;
    padding-bottom: 103px;
    background: url('../images/bg.png') no-repeat top center;
    background-size: 100% 100%;
}

.local-area-parent {
    background: url('../images/bg.png') no-repeat top center;
    background-size: 100% 100%
}

.local-area-photo img {
    height: auto;
    width: 100%;
    object-fit: cover;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.local-area-text {
    padding-top: 15px;
    display: inline-block;
}

.local-area-text-photo-parent {
    padding-bottom: 41px;
}

.local-area-text h3 {
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    line-height: 1.3em;
    display: inline-block;
}

/* .box-mr{margin:0px 15px;} */

/* .local-area-back-headding-parent{} */
.local-area-back-headding-parent {
    background-color: #b89c64;
    padding: 30px 30px 40px 30px;
}

.local-area-headding-para h3 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
}

.local-area-text a h3:hover {
    color: #b89c64;
}

.local-area-headding-para p {
    font-size: 16px;
    color: #ffff;
    line-height: 1.5em;
    font-weight: 500;
}

/* .local-area-text-photo-right-parent {
    padding-top: 41px;
} */

.local-area-text-photo-right-parent .local-area-text-photo-parent:nth-last-child(1) {
    padding-top: 30px;
}


.local-area-back .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 10px;
}

.local-area-back a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    /* padding: 0; */
    border: 0;
    vertical-align: bottom;
}


.local-area-map {
    padding-bottom: 79px;
    position: relative;
}

.back-color {
    position: absolute;
    top: 0px;
    width: 50%;
    height: 100%;
    background-color: #b99d64;
    z-index: -1;
}

.local-title {
    padding-top: 37px;
}

.resturance-title {
    padding-top: 66px;
}

.local-title h6 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

.local-title h6 {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
}

.map-photo img {
    height: auto;
    width: 100%;
}

.local-area-text-photo-right-parent .local-area-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.two-image-parent .local-area-photo img {
    max-width: 343px;
    max-height: 300px;
    object-fit: cover;
}

.local-area-photo img:hover {
    filter: grayscale(50%);
    transform: scale(1.01);
}

.local-area-zoom-parent-class {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.local-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 50%;
    aspect-ratio: 1 / 1;
}

.local-map img {
    width: 100%;
    height: 118%;
}

/* .local-map  img {
    width: 100%;
    height: 800px;
} */
.sub-title p {
    font-weight: 600;
    color: #000;
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 16px;
}

.list ol {
    list-style-type: decimal;
    margin: 0px 15px;
}

.list li {
    font-size: 16px;
    line-height: 1.5em;
    color: #000;
}

/* .local-area-my-car-sec-image{ padding-bottom:81px;}  */
.local-area-my-car-sec-image img {
    height: auto;
    width: 100%;
    background-color: #ffff;
    padding-top: 65px;
    padding-right: 20px;
    padding-left: 20px;
}

.local-area-main-title h3 {
    font-size: 36px;
    color: #ffff;
    padding-top: 100px;
    line-height: 1em;
    font-weight: 500;
}

/* .list li:nth-last-child(1){padding-bottom:100px;} */


/* responsive style */
@media (max-width: 1280.98px) {
    .local-map img {
        width: 100%;
        height: 122%;
    }
    .resturance-title {
        padding-top: 65px;
    }
    .list li {
        font-size: 16px;
        line-height: 1.5em;
        color: #000;
        width: 112%;
    }

    .local-area-text-photo-right-parent .local-area-text-photo-parent:nth-last-child(1) {
        padding-top: 25px;
    }

    .local-area-text-photo-parent {
        padding-bottom: 20px;
    }

    .two-image-parent .local-area-photo img {
        max-width: 343px;
        max-height: 277px;
        object-fit: cover;
    }
    .about-us-page-sec-3 .about-color-text {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-left: 0px;
    }
    .about-us-page-sec-3 .about-color-text h5 {
        color: #b89c64;
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
        text-transform: uppercase;
        width: 112%;
    }
    

}

@media (max-width: 1200.98px) {
    .container {
        max-width: 1140px;
    }
    .resturance-title {
        padding-top: 64px;
    }
    .local-map img {
        width: 100%;
        height: 130%;
    }
    .about-us-page-sec-3 .offset-1 {
        margin-left: 1.3000000%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .local-map img {
        width: 100%;
        height: 127%;
    }
    .about-us-page-sec-3 .offset-1 {
        margin-left: 0.3%;
    }
    .about-us-page-sec-3 .about-color-text h5 {
        color: #b89c64;
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
        text-transform: uppercase;
        width: 125%;
    }
    .two-image-parent .local-area-photo img {
        max-width: 345px;
        max-height: 291px;
        object-fit: cover;
    }
    .about-color-text {
        padding-top: 50px;
        padding-left: 0px;
    }
    .about-us-page-sec-4 .about-color-text {
        padding-top: 40px;
        padding-right: 100px;
    }
    .about-us-page-sec-3 .about-color-text {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-left: 0px;
    }
    .about-color-text {
        padding-top: 40px;
        padding-left: 0px;
    }
}

@media(max-width: 1025px) {
    .two-image-parent .local-area-photo img {
        max-width: 338px;
        max-height: 208px;
        object-fit: cover;
    }

    .local-map img {
        width: 100%;
        height: 173%;
    }

    .list li {
        font-size: 16px;
        line-height: 1.5em;
        color: #000;
        width: 112%;
    }
    .resturance-title {
        padding-top: 61px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .local-area-text h3 {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }
    .resturance-title {
        padding-top: 0px;
    }
    .local-map {
        position: relative;
        right: 0;
        top: 0;
        z-index: -1;
        width: 50%;
        aspect-ratio: 1 / 1;
    }

    .local-map {
        position: relative;
        right: 0;
        top: 79px;
        z-index: -1;
        width: 100%;
        aspect-ratio: 1 / 1;
    }

    .local-map img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0px auto;
    }

    .back-color {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #b99d64;
        z-index: -1;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .local-area-text h3 {
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }
    .help-to-buy-text h3 {
        font-size: 55px;
        font-weight: 400;
        color: #000;
        width: 100%;
        line-height: 1.1em;
    }
    .help-to-buy-text h3 {
        font-size: 50px;
        font-weight: 400;
        color: #000;
        width: 100%;
        line-height: 1.1em;
    }
    .help-to-buy-text h1 {
        font-size: 50px;
        color: #b89c64;
        font-family: 'gothambook';
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1em;
        padding-top: 30px;
    }
    .two-image-parent .local-area-photo img {
        max-width: 338px;
        max-height: 400px;
        object-fit: cover;
    }
}
@media(max-width:768px){
    .local-area-text h3 {
        font-size: 21px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .two-image-parent .local-area-photo img {
        max-width: 100%;
        max-height: 284px;
        object-fit: cover;
    }
    .resturance-title {
        padding-top: 20px;
    }
    .local-area-back {
        padding-top: 70px;
        padding-bottom: 70px;
        background: url('../images/bg.png') no-repeat top center;
        background-size: 100% 100%;
    }
    .local-area-main-title h3 {
        font-size: 36px;
        color: #ffff;
        padding-top: 50px;
        line-height: 1em;
        font-weight: 500;
    }
    .local-title {
        padding-top: 30px;
    }   
    .local-area-map {
        padding-bottom: 0px;
        position: relative;
        overflow: hidden;
    }
    .local-map img {
        width: 100%;
        height: 80%;
        display: block;
        margin: 0px auto;
    }
    .local-area-my-car-sec-image img {
        height: auto;
        width: 100%;
        background-color: #ffff;
        padding-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .back-color {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 96%;
        background-color: #b99d64;
        z-index: -1;
    }
    .about-footer h3 {
        font-size: 60px;
        color: #ffff;
        position: relative;
    }
    .local-area-parent-how .help-to-buy-sec {
        padding-top: 70px;
    }
    .help-to-buy-text h3:nth-child(2) {
        padding-top: 20px;
    }
    .help-to-buy-text h1 {
        font-size: 50px;
        color: #b89c64;
        font-family: 'gothambook';
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1em;
        padding-top: 30px;
    }
    .help-to-image img {
        height: auto;
        width: 40%;
        display: block;
        margin: 0px auto;
    }
    .help-to-image p {
        font-weight: 400;
        font-size: 30px;
        color: #000;
        text-align: center;
        padding-top: 20px;
        line-height: 1.3em;
    }
    .help-to-buy-sec {
        padding-bottom: 70px;
    }
    .floor-plan-sec {
        background: url('../images/bg.png') center top repeat fixed;
        width: 100%;
        display: block;
        padding: 70px 0;
        text-align: center;
        position: relative;
    }
    .about-footer {
        background: url(../images/about-section-img.png) center top no-repeat fixed;
        width: 100%;
        display: block;
        padding: 70px 0;
        background-size: 100%;
        text-align: center;
    }
    .resturance-title {
        padding-top: 0px;
    }
}

@media (max-width: 400px) {
    .local-area-text h3 {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }
    .local-area-back-headding-parent {
        background-color: #b89c64;
        padding: 25px 25px 25px 25px;
    }
    .local-area-main-title h3 {
        font-size: 35px;
        color: #ffff;
        padding-top: 50px;
        line-height: 1em;
        font-weight: 500;
        margin-left: -10px;
    }
    .about-footer .readmore {
        padding-top: 100px;
    }
    .about-footer h3 {
        font-size: 50px;
        color: #ffff;
        position: relative;
    }
    .readmore.btn-white::after {
        content: '';
        position: absolute;
        width:50%;
        color: #b89c64;
        left: 50%;
        border: 2px solid #b89c64;
        transform: translateX(-50%);
        top: 53%;
    }
    .local-area-headding-para h3 {
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        padding-bottom: 15px;
    }
    .local-area-headding-para p {
        font-size: 15px;
        color: #ffff;
        line-height: 1.3em;
        font-weight: 500;
    }
    .local-area-text h3 {
        font-size: 19px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }  
    .help-to-buy-text p {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        line-height: 1em;
    }
    .help-to-buy-text h3 {
        font-size: 34px;
        font-weight: 400;
        color: #000;
        width: 100%;
        line-height: 1.1em;
    }
    .help-to-buy-text h1 {
        font-size: 34px;
        color: #b89c64;
        font-family: 'gothambook';
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1em;
        padding-top: 30px;
    }
    .floor-plan-sec h3:after {
        content: '';
        background: #b99d64;
        height: 2px;
        width: 50%;
        position: absolute;
        left: 25%;
        bottom: -20px;
    }
    .floor-plan-sec h3 {
        font-size: 40px;
        margin-bottom: 20px;
        position: relative;
        text-transform: uppercase;
        color: #fff;
    } 
    .floor-plan-sec p {
        padding: 30px 0;
        color: #fff;
        font-size: 16px;
    }
    .help-to-image p {
        font-weight: 400;
        font-size: 24px;
        color: #000;
        text-align: center;
        padding-top: 0px;
        line-height: 1.3em;
    }
    .help-to-buy-sec {
        padding-bottom: 50px;
    }
    .local-area-parent-how .help-to-buy-sec {
        padding-top: 50px;
    }
    .local-area-my-car-sec-image img {
        height: auto;
        width: 100%;
        background-color: #ffff;
        padding-top: 20px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .local-title {
        padding-top: 20px;
    }
    .local-area-back {
        padding-top: 50px;
        padding-bottom: 50px;
        background: url('../images/bg.png') no-repeat top center;
        background-size: 100% 100%;
    }

}

@media (max-width: 359.99px) {
    .help-to-image p {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    text-align: center;
    padding-top: 0px;
    line-height: 1.3em;
}
.local-area-main-title h3 {
    font-size: 33px;
    color: #ffff;
    padding-top: 50px;
    line-height: 1em;
    font-weight: 500;
    margin-left: -10px;
}
.help-to-buy-text h3 {
    font-size: 30px;
    font-weight: 400;
    color: #000;
    width: 100%;
    line-height: 1.1em;
}
.help-to-buy-text h1 {
    font-size: 34px;
    color: #b89c64;
    font-family: 'gothambook';
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1em;
    padding-top: 20px;
}
.help-to-buy-para-text p {
    font-size: 17px;
    font-weight: 300;
    color: #000;
    padding-top: 30px;
    line-height: 1.5em;
}
}
@media(max-width:320px){
    .local-area-text h3 {
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        line-height: 1.3em;
        display: inline-block;
    }
    .local-area-text-photo-right-parent .local-area-text-photo-parent:nth-last-child(1) {
        padding-top: 15px;
    }
    .local-area-main-title h3 {
        font-size: 30px;
        color: #ffff;
        padding-top: 50px;
        line-height: 1em;
        font-weight: 500;
        margin-left: -10px;
    }
    .local-title {
        padding-top: 15px;
    }
    .help-to-buy-text h3 {
        font-size: 24px;
        font-weight: 400;
        color: #000;
        width: 100%;
        line-height: 1.1em;
    }
    .help-to-buy-text h1 {
        font-size: 34px;
        color: #b89c64;
        font-family: 'gothambook';
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1em;
        padding-top: 15px;
    }
    .help-to-buy-text h3:nth-child(2) {
        padding-top: 15px;
    }

    .help-to-buy-para-text p {
        font-size: 17px;
        font-weight: 300;
        color: #000;
        padding-top: 20px;
        line-height: 1.5em;
    }
    .local-title h6 {
        color: rgb(255, 255, 255);
        display: inline-block;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        margin-left: -3px;
    }
}


@media (min-width: 1920px) {
    .two-image-parent .local-area-photo img {
        max-width: 343px;
        max-height: 270px;
        object-fit: cover;
    }

    /* .about-us-page-photo-1 img {
        height: auto;
        width: 100%;
        margin: 0px 0px 30px;
    }

    .about-us-page-photo-2 img {
        height: auto;
        width: 100%;
        margin: 0px 0px 0px;
    } */

    .about-us-page-sec-3 .about-color-text {
        padding-top: 50px;
        padding-left: 291px;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .about-us-page-sec-4 .about-color-text {
        padding-top: 50px;
        padding-right: 324px;
    }
    .about-us-page-photo-1 img {
        height: auto;
        width: 100%;
        margin: 0px 0px 30px;
        position: relative;
        left: 50%;
        transform: translateX(0%);
    }
    .about-us-page-photo-1 img {
        height: auto;
        width: 100%;
        margin: 0px 0px 30px;
        position: relative;
        left: 50%;
        transform: translateX(0%);
    }
    .about-us-page-photo-2   img {
        height: auto;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(0%);
    }
    .about-us-page-sec-3 .about-us-page-sec-3 {
        padding-top: 80px;
        background-color: #202121;
        padding-bottom: 85px;
        position: relative;
        top: -10px;
        padding-right: 0px;
        overflow: hidden;
    }
    .about-us-page-sec-3 .about-color-text h5 {
        color: #b89c64;
        font-size: 40px;
        font-weight: 600;
        width: 129%;
        padding-bottom: 30px;
        text-transform: uppercase;
    }

    .about-us-page-sec-3 .about-color-text h6 {
        color: #fff;
        opacity: 0.5;
        font-size: 16px;
        line-height: 1.5em;
        padding-bottom: 15px;
        width: 112%;
    }
    .about-us-page-sec-3 .about-color-text p {
        color: #fff;
        font-size: 16px;
        line-height: 1.5em;
        width: 112%;
    }
}